<div class="flex-container">

  <!-- ACCOUNT FORM -->
  <form class="account" method="POST" action="/accounts">
    <input type="hidden" name="_id">
    <fieldset>
      <legend>Account</legend><br /><label>Account Name:</label><br /><input id="account_name" type="text"
        name="account_name" /><br /><label>Amount:</label><br /><input id="amount" type="text"
        name="amount" /><br /><label>Notes:</label><br /><input id="notes" type="text" name="notes" /><br /><button
        class="btn btn-success submit btn-supplier" type="submit">Save</button><br />
      <span id="msg"></span>
    </fieldset>
  </form>

</div>