<div class="flex-container">
  <!-- SUPPLIER FORM-->
  <form method="POST" action="/suppliers">
    <fieldset>
      <legend>Supplier</legend><br /><label>Supplier Name:</label><br /><input id="supplier_name" type="text"
        name="supplier_name" /><br /><label>Country:</label><br /><input id="country" type="text"
        name="country" /><br /><label>City/Town:</label><br /><input id="city" type="text"
        name="city" /><br /><label>Street:</label><br /><input id="street" type="text"
        name="street" /><br /><label>Address:</label><br /><input id="address" type="text"
        name="address" /><br /><label>Telephone:</label><br /><input id="telephone" type="text"
        name="telephone" /><br /><label>Email:</label><br /><input id="email" type="email"
        name="email" /><br /><label>Website: </label><br /><input id="website" type="url" name="website" /><br /><button
        class="btn btn-success submit" type="submit" onclick="showError()">Submit</button><br />
    </fieldset>
  </form>
  <!-- PURCHASE FORM-->
  <form method="POST" action="/purchases">
    <fieldset>
      <legend>Bought from</legend><br /><label>Supplier Name:</label><br /><input id="supplier_name" type="text"
        name="supplier_name" /><br /><label>Product bought:</label><br /><input id="product_name" type="text"
        name="product_name" /><br /><label>Number of Units:</label><br /><input id="units" type="number"
        name="units" /><br /><label>Unit Cost:</label><br /><input id="unit_cost" type="number"
        name="unit_cost" /><br /><label>Total Cost:</label><br /><input id="total_cost" type="number"
        name="total_cost" /><br /><button class="btn btn-success submit" type="submit"
        onclick="showError()">Submit</button><br />
    </fieldset>
  </form>
  <!-- PRODUCT FORM-->
  <form method="POST" action="/products">
    <input type="hidden" name="_id" />
    <fieldset>
      <legend>Product</legend><br /><label>Product Name:</label><br /><input id="product_name" type="text"
        name="product_name" /><br /><label>Category:</label><br /><input id="category"
        type="text" name="category" /><br /><label>Retail Price:</label><br /><input id="retail_price" type="number"
        name="retail_price" /><br /><label>Units Received:</label><br /><input id="units_received" type="number"
        name="units_received" /><br /><label>Value Received:</label><br /><input id="value_received" type="number"
        name="value_received" /><br /><label>Units Issued:</label><br /><input id="units_issued" type="number"
        name="units_issued" /><br /><label>Value Issued:</label><br /><input id="value_issued" type="number"
        name="value_issued" /><br /><label>Units Instock:</label><br /><input id="units_instock" type="number"
        name="units_instock" /><br /><label>Value Instock:</label><br /><input id="value_instock" type="number"
        name="value_instock" /><br /><label>Sales Cost: </label><br /><input id="sales_cost" type="number"
        name="sales_cost" /><br /><label>Gross Profit: </label><br /><input id="gross_profit" type="number"
        name="gross_profit" /><br /><label>Discontinue: </label><br /><input id="discontinue" type="text"
        name="discontinue" /><br /><button class="btn btn-success submit" type="submit"
        onclick="showError()">Submit</button><br />
    </fieldset>
  </form>
  <!-- SALE FORM-->
  <form method="POST" action="/sales">
    <fieldset>
      <legend>Sold to</legend><br /><label>Customer Name:</label><br /><input id="customer_name" type="text"
        name="customer_name" /><br /><label>Product sold:</label><br /><input id="product_name" type="text"
        name="product_name" /><br /><label>Number of Units:</label><br /><input id="units" type="number"
        name="units" /><br /><label>Unit Price:</label><br /><input id="unit_price" type="number"
        name="unit_price" /><br /><label>Total Price:</label><br /><input id="total_price" type="number"
        name="total_price" /><br /><button class="btn btn-success submit" type="submit"
        onclick="showError()">Submit</button><br />
    </fieldset>
  </form>
  <!-- CUSTOMER FORM-->
  <form method="POST" action="/customers">
    <fieldset>
      <legend>Customer</legend><br /><label>Customer Name:</label><br /><input id="customer_name" type="text"
        name="customer_name" /><br /><label>Country:</label><br /><input id="country" type="text"
        name="country" /><br /><label>City/Town:</label><br /><input id="city" type="text"
        name="city" /><br /><label>Street:</label><br /><input id="street" type="text"
        name="street" /><br /><label>Address:</label><br /><input id="address" type="text"
        name="address" /><br /><label>Telephone:</label><br /><input id="telephone" type="text"
        name="telephone" /><br /><label>Email:</label><br /><input id="email" type="email"
        name="email" /><br /><label>Website: </label><br /><input id="website" type="url" name="website" /><br /><button
        class="btn btn-success submit" type="submit" onclick="showError()">Submit</button><br />
    </fieldset>
  </form>
</div>