<div class="flex-container">
  <!-- SUPPLIER FORM-->
  <form method="POST" action="/suppliers">
    <fieldset>
      <legend>Supplier</legend><br /><label>Supplier Name:</label><br /><input id="supplier_name" type="text"
        name="supplier_name" /><br /><label>Country:</label><br /><input id="country" type="text"
        name="country" /><br /><label>City/Town:</label><br /><input id="city" type="text"
        name="city" /><br /><label>Street:</label><br /><input id="street" type="text"
        name="street" /><br /><label>Address:</label><br /><input id="address" type="text"
        name="address" /><br /><label>Telephone:</label><br /><input id="telephone" type="text"
        name="telephone" /><br /><label>Email:</label><br /><input id="email" type="email"
        name="email" /><br /><label>Website: </label><br /><input id="website" type="url" name="website" /><br /><button
        class="btn btn-success submit" type="submit">Save</button><br />
    </fieldset>
  </form>
  <!-- PURCHASE FORM-->
  <form method="POST" action="/purchases">
    <fieldset>
      <legend>Bought from</legend><br /><label>Supplier Name:</label><br /><input id="supplier_name" type="text"
        name="supplier_name" /><br /><label>Product bought:</label><br /><input id="product_name" type="text"
        name="product_name" /><br /><label>Units Purchased:</label><br /><input id="units_purchased" type="text"
        name="units_purchased" /><br /><label>Unit Value:</label><br /><input id="unit_value" type="text"
        name="unit_value" /><br /><label>Purchased Value:</label><br /><input id="purchased_value" type="text"
        name="purchased_value" /><br /><button class="btn btn-success submit" type="submit">Save</button><br />
    </fieldset>
  </form>
  <!-- PRODUCT FORM-->
  <form method="POST" action="/products">
    <input type="hidden" name="_id">
    <fieldset>
      <legend>Product</legend><br /><label>Supplier Name:</label><br /><input id="supplier_name" type="text"
        name="supplier_name" /><br /><label>Product Name:</label><br /><input id="product_name" type="text"
        name="product_name" /><br /><label>Category:</label><br /><input id="category" type="text"
        name="category" /><br /><label>Retail Price:</label><br /><input id="retail_price" type="text"
        name="retail_price" /><br /><label>Units Received:</label><br /><input id="units_received" type="text"
        name="units_received" /><br /><label>Value Received:</label><br /><input id="value_received" type="text"
        name="value_received" /><br /><label>Units Issued:</label><br /><input id="units_issued" type="text"
        name="units_issued" /><br /><label>Value Issued:</label><br /><input id="value_issued" type="text"
        name="value_issued" /><br /><label>Units Instock:</label><br /><input id="units_instock" type="text"
        name="units_instock" /><br /><label>Value Instock:</label><br /><input id="value_instock" type="text"
        name="value_instock" /><br /><label>Sales Cost: </label><br /><input id="sales_cost" type="text"
        name="sales_cost" /><br /><label>Gross Profit: </label><br /><input id="gross_profit" type="text"
        name="gross_profit" /><br /><label>Discontinue: </label><br /><select id="discontinue" name="discontinue">
        <option value="">-- Select --</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select><br /><button class="btn btn-success submit" type="submit">Save</button><br />
    </fieldset>
  </form>
  <!-- SALE FORM-->
  <form method="POST" action="/sales">
    <fieldset>
      <legend>Sold to</legend><br /><label>Customer Name:</label><br /><input id="customer_name" type="text"
        name="customer_name" /><br /><label>Product sold:</label><br /><input id="product_name" type="text"
        name="product_name" /><br /><label>Units Sold:</label><br /><input id="units_sold" type="text"
        name="units_sold" /><br /><label>Unit Value:</label><br /><input id="unit_value" type="text"
        name="unit_value" /><br /><label>Sold Value:</label><br /><input id="sold_value" type="text"
        name="sold_value" /><br /><button class="btn btn-success submit" type="submit">Save</button><br />
    </fieldset>
  </form>
  <!-- CUSTOMER FORM-->
  <form method="POST" action="/customers">
    <fieldset>
      <legend>Customer</legend><br /><label>Customer Name:</label><br /><input id="customer_name" type="text"
        name="customer_name" /><br /><label>Country:</label><br /><input id="country" type="text"
        name="country" /><br /><label>City/Town:</label><br /><input id="city" type="text"
        name="city" /><br /><label>Street:</label><br /><input id="street" type="text"
        name="street" /><br /><label>Address:</label><br /><input id="address" type="text"
        name="address" /><br /><label>Telephone:</label><br /><input id="telephone" type="text"
        name="telephone" /><br /><label>Email:</label><br /><input id="email" type="email"
        name="email" /><br /><label>Website: </label><br /><input id="website" type="url" name="website" /><br /><button
        class="btn btn-success submit" type="submit">Save</button><br />
    </fieldset>
  </form>
</div>