<style>
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebebed;
  }


  span {
    color: blue;
    font-size: 22pt;
    font-weight: bolder;
    font-family: Monotype Corsiva;
  }

  .dropdown-menu {
    border: none;
  }

  a,
  label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
  }

  .listing-table {
    margin: 0 auto;
  }

  th {
    text-align: center;
  }

  td {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: condensed;
    width: 160px;
  }

  .logout {
    color: white;
    font-size: 12pt;
    margin-left: 24px;
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 10pt;
    text-align: center;
  }
</style>

<!-- CREDITOR, DEBTORS, DRAWINGS -->
<table class="listing-table table-striped">
  {{#each transactions}}
  <tr>
    <th colspan="2">CREDITOR, DEBTORS, DRAWINGS</th>
  </tr>
  <tr>
    <td>Creditor:</td>
    <td>{{this.creditor}}</td>
  </tr>
  <tr>
    <td>Debtors:</td>
    <td>{{this.debtor}}</td>
  </tr>
  <tr>
    <td>Drawings:</td>
    <td>{{this.drawings}}</td>
  </tr>
  {{/each}}
</table>