<style>
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ebebed;
  }

  span {
    color: #0000FF;
    font-size: 22pt;
    font-weight: lighter;
    font-family: Monotype Corsiva;
  }

  .dropdown-menu {
    border: none;
  }

  a,
  label {
    font-size: 11pt;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  form {
    margin: 0 auto;
  }

  legend {
    text-align: center;
    color: grey;
  }

  label {
    color: grey;
    margin-bottom: 0;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  select {
    width: 290px;
    padding: 0.75%;
    margin-bottom: 5px;
    font-size: 14pt;
    border: none;
  }

  .logout {
    border: none;
    font-size: 12pt;
    margin-left: 24px;
  }

  .submit {
    width: 25%;
  }

  /* Responsive layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 12pt;
    text-align: center;
  }
</style>

<div class="flex-container">
  <!-- CUSTOMER FORM -->
  <form method="POST" action="/customers/new">
    <input type="hidden" name="_id">
    <fieldset>
      <legend>Customer</legend>
      <input id="user" type="hidden" name="user" value="CUSTOMER" required /><br />
      <label>Name:</label><br /><input id="name" type="text" name="name" required /><br />
      <label>Country:</label><br /><input id="country" type="text" name="country" required /><br />
      <label>City/Town:</label><br /><input id="city" type="text" name="city" required /><br />
      <label>Street:</label><br /><input id="street" type="text" name="street" required /><br />
      <label>Address:</label><br /><input id="address" type="text" name="address" required /><br />
      <label>Telephone:</label><br /><input id="telephone" type="text" name="telephone" required /><br />
      <label>Email:</label><br /><input id="email" type="email" name="email" required /><br />
      <label>Website: </label><br /><input id="website" type="url" name="website" /><br />
      <button class="btn btn-success submit" type="submit">Save <i class="fa fa-save"></i></button><br />
    </fieldset>
  </form>
</div>