<style>
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
  }

  body {
    /* Padding to prevent the content to go underneath the header */
    padding-top: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ebebed;
  }

  span {
    color: #0000FF;
    font-size: 22pt;
    font-weight: lighter;
    font-family: Monotype Corsiva;
  }

  .dropdown-menu {
    border: none;
  }

  a,
  label {
    font-size: 11pt;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  form {
    margin: 0 auto;
  }

  legend {
    text-align: center;
    color: grey;
  }

  label {
    color: grey;
    margin-bottom: 0;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  select {
    width: 290px;
    padding: 0.75%;
    margin-bottom: 5px;
    font-size: 14pt;
    border: none;
  }

  .logout {
    border: none;
    font-size: 12pt;
    margin-left: 24px;
  }

  .submit {
    width: 25%;
  }

  /* Responsive layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 12pt;
    text-align: center;
  }

  #equity,
  #fixed_asset,
  #business_expense,
  #cash_withdrawn {
    display: none;
  }
</style>

<div class="flex-container">
  <!-- BOOKKEEPING -->
  <form method="POST" action="/finance-and-investments/new" oninput="inputOperation()">
    <input type="hidden" name="_id" value="{{finance-and-investments._id}}">
    <fieldset>
      <legend>Bookkeeping</legend><br />
      <label>Transaction Type:</label><br />
      <select id="transaction_type" name="transaction_type" required>
        <option value="">Select ...</option>
        <option value="Equity">Equity</option>
        <option value="Loan">Loan</option>
        <option value="Fixed Asset">Fixed Asset</option>
        <option value="Business Expense">Business Expense</option>
        <option value="Cash Withdrawn">Cash Withdrawn</option>
      </select>
      <br />
      <input id="note" type="text" name="note" placeholder="note" /><br />
      <input id="equity" type="text" name="equity" placeholder="insert the amount injected into the ..." />
      <input id="loan" type="text" name="loan" placeholder="insert the amount borrowed ..." />
      <input id="fixed_asset" type="text" name="fixed_asset" placeholder="insert the cost of asset" />
      <input id="business_expense" type="text" name="business_expense" placeholder="insert the expense" />
      <input id="cash_withdrawn" type="text" name="cash_withdrawn" placeholder="insert the amount withdrawn" />
      <input id="updated_on" type="hidden" name="updated_on" /><br />
      <button class="btn btn-success submit" type="submit">Save <i class="fa fa-save"></i></button><br />
    </fieldset>
  </form>
</div>

<script type="text/javascript">

  const inputOperation = () => {

    // Insert Date automatically
    document.getElementById('updated_on').value = Date();

    if (document.getElementById('transaction_type').value == "Equity")
      // Display the field "equity"
      $('#equity').css('display', 'inline');
    else
      $('#equity').css('display', 'none');

    if (document.getElementById('transaction_type').value == "Loan")
      // Display the field "loan"
      $('#loan').css('display', 'inline');
    else
      $('#loan').css('display', 'none');

    if (document.getElementById('transaction_type').value == "Fixed Asset")
      // Display the field "fixed_asset"
      $('#fixed_asset').css('display', 'inline');
    else
      $('#fixed_asset').css('display', 'none');

    if (document.getElementById('transaction_type').value == "Business Expense")
      // Display the field "business_expense"
      $('#business_expense').css('display', 'inline');
    else
      $('#business_expense').css('display', 'none');

    if (document.getElementById('transaction_type').value == "Cash Withdrawn")
      // Display the field "Goods Withdrawn"
      $('#cash_withdrawn').css('display', 'inline');
    else
      $('#cash_withdrawn').css('display', 'none');

  }

</script>