<style>
  #equity,
  #loan,
  #fixed_asset,
  #business_expense,
  #cash_drawn {
    display: none;
  }
</style>

<div class="flex-container">
  <!-- FINANCE AND INVESTMENTS -->
  <form id="finance-and-investments" method="POST" action="/finance-and-investments/new" oninput="handleInput()"
    onsubmit="handleSubmit()">
    <fieldset>
      <legend>Finance and Investments</legend><br />
      <select id="transaction_type" name="transaction_type" required>
        <option value="">Select ...</option>
        <option value="Equity">Equity</option>
        <option value="Loan">Borrow loan</option>
        <option value="Fixed Asset">Acquire fixed asset</option>
        <option value="Business Expense">Pay expense</option>
        <option value="Cash Withdrawn">Withdraw Cash</option>
      </select>
      <br />
      <input id="note" type="text" name="note" placeholder="note" /><br />
      <input id="equity" type="text" name="equity" placeholder="insert the amount ..." />
      <input id="loan" type="text" name="loan" placeholder="insert the amount ..." />
      <input id="fixed_asset" type="text" name="fixed_asset" placeholder="insert the cost ..." />
      <input id="business_expense" type="text" name="business_expense" placeholder="insert the cost ..." />
      <input id="cash_drawn" type="text" name="cash_drawn" placeholder="insert the amount ..." />
      <p class="amount"></p>
      <input id="updated_on" type="hidden" name="updated_on" />
      <button class="btn btn-success submit" type="submit">Save <i class="fa fa-save"></i></button><br />
    </fieldset>
  </form>
</div>

<script type="text/javascript">

  // RUN ON INPUT
  const handleInput = () => {

    // Insert Date automatically
    document.getElementById('updated_on').value = Date();

    if (document.getElementById('transaction_type').value == "Equity")
      // Display the field "equity"
      $('#equity').css('display', 'inline');
    else
      $('#equity').css('display', 'none');

    if (document.getElementById('transaction_type').value == "Loan")
      // Display the field "loan"
      $('#loan').css('display', 'inline');
    else
      $('#loan').css('display', 'none');

    if (document.getElementById('transaction_type').value == "Fixed Asset")
      // Display the field "fixed_asset"
      $('#fixed_asset').css('display', 'inline');
    else
      $('#fixed_asset').css('display', 'none');

    if (document.getElementById('transaction_type').value == "Business Expense")
      // Display the field "business_expense"
      $('#business_expense').css('display', 'inline');
    else
      $('#business_expense').css('display', 'none');

    if (document.getElementById('transaction_type').value == "Cash Withdrawn")
      // Display the field "Goods Withdrawn"
      $('#cash_drawn').css('display', 'inline');
    else
      $('#cash_drawn').css('display', 'none');

    // FORMAT NUMBER AND DISPLAY AS CURRENCY
    var amount = new Intl.NumberFormat('en-UG', {
      style: 'currency',
      currency: 'UGX',
      minimumFractionDigits: 2
    });
    if (document.getElementById('transaction_type').value == "Equity")
      document.querySelector('.amount').textContent = amount.format(document.getElementById('equity').value);
    if (document.getElementById('transaction_type').value == "Loan")
      document.querySelector('.amount').textContent = amount.format(document.getElementById('loan').value);
    if (document.getElementById('transaction_type').value == "Fixed Asset")
      document.querySelector('.amount').textContent = amount.format(document.getElementById('fixed_asset').value);
    if (document.getElementById('transaction_type').value == "Business Expense")
      document.querySelector('.amount').textContent = amount.format(document.getElementById('business_expense').value);
    if (document.getElementById('transaction_type').value == "Cash Withdrawn")
      document.querySelector('.amount').textContent = amount.format(document.getElementById('cash_drawn').value);
  }

  // RUN ON SUBMIT
  const handleSubmit = () => {
    // Hide the submit button
    $('.submit').css('display', 'none');
    // Also hide these fields:
    $('#transaction_type').css('display', 'none');
    $('#note').css('display', 'none');
    $('#equity').css('display', 'none');
    $('#loan').css('display', 'none');
    $('#fixed_asset').css('display', 'none');
    $('#business_expense').css('display', 'none');
    $('#cash_drawn').css('display', 'none');
  }

</script>