<style>
  .navbar {
    display: none;
  }

  p {
    margin-top: 13%;
    font-size: 32pt;
    text-align: center;
  }

  a {
    font-size: 14pt;
    font-weight: bolder;
  }
</style>

<p>
  SMART<br />
  Stock Management<br />
  <a href="/suppliers">login</a>
</p>