<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Manager</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link data-require="font-awesome@*" data-semver="4.2.0" rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />
  <link rel="stylesheet" href="main.css">
  <!-- Disable Right Clicking -->
  <script type='text/javascript'>
    document.addEventListener('contextmenu', event => event.preventDefault()); 
  </script>
</head>
<!-- Navbar-->
<nav class="navbar navbar-expand-md bg-light navbar-dark">
  <a class="navbar-brand" href="/">
    <span> Stock Manager </span>
  </a>
  <button class="navbar-toggler" style="background-color: #ebebed" data-toggle="collapse"
    data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <!--Links-->
    <ul class="navbar-nav ml-auto">
      <!--Dropdown-->
      <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" style="color: #000000" id="navbardrop" data-toggle="dropdown">
          your menu here:
        </div>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/suppliers">New Supplier</a>
          <a class="dropdown-item" href="/suppliers/list">Supplier List</a>
          <a class="dropdown-item" href="/customers">New Customer</a>
          <a class="dropdown-item" href="/customers/list">Customer List</a>
          <a class="dropdown-item" href="/products/search">Product Search</a>
          <form class="logout" method="POST" action="/logout"><button class="btn-light" type="submit">
              <div>logout</div>
            </button></form>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="content">
  <!-- render child views here -->
  {{{body}}}
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<footer class="bg-light">
  Copyright &copy; 2022 Mwanika Stephen Crispin
</footer>
<br>

</html>