<style>
  #equity,
  #fixed_asset,
  #business_expense,
  #drawings {
    display: none;
  }
</style>

<div class="flex-container">
  <!-- FORM FOR INSERTING EQUITY, FIXED ASSETS AND BUSINESS COSTS -->
  <form method="POST" action="/operations" oninput="inputOperation()">
    <input type="hidden" name="_id" value="{{operations._id}}">
    <fieldset>
      <legend>Other Accounts</legend><br /><label>Transaction Type:</label><br /><select id="transaction_type"
        name="transaction_type">
        <option value="">Select...</option>
        <option value="Equity">Equity</option>
        <option value="Fixed Asset">Fixed Asset</option>
        <option value="Business Expense">Business Expense</option>
        <option value="Drawings">Drawings</option>
      </select><br /><label>Note:</label><br /><input id="note" type="text"
        name="note" /><br /><label>Value:</label><br /><input id="equity" type="text" name="equity" /><input
        id="fixed_asset" type="text" name="fixed_asset" /><input id="business_expense" type="text"
        name="business_expense" /><input id="drawings" type="text" name="drawings" /><input id="updated_on"
        type="hidden" name="updated_on" /><br /><button class="btn btn-success submit" type="submit">Save</button><br />
    </fieldset>
  </form>
</div>

<script type="text/javascript">

  const inputOperation = () => {

    // Insert Date automatically
    document.getElementById('updated_on').value = Date();

    if (document.getElementById('transaction_type').value == "Equity")
      // Display the field "equity"
      $('#equity').css('display', 'inline');
    else
      $('#equity').css('display', 'none');

    if (document.getElementById('transaction_type').value == "Fixed Asset")
      // Display the field "fixed_asset"
      $('#fixed_asset').css('display', 'inline');
    else
      $('#fixed_asset').css('display', 'none');

    if (document.getElementById('transaction_type').value == "Business Expense")
      // Display the field "business_expense"
      $('#business_expense').css('display', 'inline');
    else
      $('#business_expense').css('display', 'none');

    if (document.getElementById('transaction_type').value == "Drawings")
      // Display the field "drawings"
      $('#drawings').css('display', 'inline');
    else
      $('#drawings').css('display', 'none');

  }

</script>