<style>
  .navbar {
    display: none;
  }
</style>

<!-- CREDITOR, DEBTORS AND GOODS WITHDRAWN -->
<table class="listing-table table-striped">
  {{#each transactions}}
  <tr>
    <th colspan="2">CREDITOR, DEBTORS AND GOODS WITHDRAWN</th>
  </tr>
  <tr>
    <th>Creditor:</th>
    <td>{{this.creditor}}</td>
  </tr>
  <tr>
    <th>Debtors:</th>
    <td>{{this.debtor}}</td>
  </tr>
  <tr>
    <th>Goods Withdrawn:</th>
    <td>{{this.goods_withdrawn}}</td>
  </tr>
  {{/each}}
</table>