<div class="flex-container">
  <!-- SUPPLIER FORM -->
  <form method="POST" action="/suppliers">
    <input type="hidden" name="_id">
    <fieldset>
      <legend>Supplier</legend><input id="user" type="hidden" name="user" value="SUPPLIER"
        required /><br /><label>Name:</label><br /><input id="name" type="text" name="name"
        required /><br /><label>Country:</label><br /><input id="country" type="text" name="country"
        required /><br /><label>City/Town:</label><br /><input id="city" type="text" name="city"
        required /><br /><label>Street:</label><br /><input id="street" type="text" name="street"
        required /><br /><label>Address:</label><br /><input id="address" type="text" name="address"
        required /><br /><label>Telephone:</label><br /><input id="telephone" type="text" name="telephone"
        required /><br /><label>Email:</label><br /><input id="email" type="email" name="email"
        required /><br /><label>Website: </label><br /><input id="website" type="url" name="website" /><br /><button
        class="btn btn-success submit" type="submit">Save</button><br />
    </fieldset>
  </form>
</div>