<div class="flex-container">

  <!-- SUPPLIER FORM -->
  <form class="supplier" method="POST" action="/suppliers" oninput="supplierName()" onsubmit="supplierForm()">
    <fieldset>
      <legend>Supplier</legend><br /><label>Supplier Name:</label><br /><input id="supplier_name" type="text"
        name="supplier_name" required /><br /><label>Country:</label><br /><input id="country" type="text"
        name="country" required /><br /><label>City/Town:</label><br /><input id="city" type="text" name="city"
        required /><br /><label>Street:</label><br /><input id="street" type="text" name="street"
        required /><br /><label>Address:</label><br /><input id="address" type="text" name="address"
        required /><br /><label>Telephone:</label><br /><input id="telephone" type="text" name="telephone"
        required /><br /><label>Email:</label><br /><input id="email" type="email" name="email"
        required /><br /><label>Website: </label><br /><input id="website" type="url" name="website" /><br /><button
        class="btn btn-success submit btn-supplier" type="submit">Save</button><br />
      <span id="msg"></span>
    </fieldset>
  </form>

  <!-- PRODUCT FORM -->
  <form method="POST" action="/products">
    <input type="hidden" name="_id">
    <fieldset>
      <legend>Product</legend><input id="supplied_by" type="hidden" name="supplied_by" /><br /><label>Product
        Name:</label><br /><input id="product_name" type="text"
        name="product_name" /><br /><label>Category:</label><br /><input id="category" type="text"
        name="category" /><br /><input id="discontinued" type="hidden" name="discontinued" value="No" /><input
        id="created_at" type="hidden" name="created_at" value="{{product.created_at}}" readonly /><button
        class="btn btn-success submit btn-product" type="submit">Save</button><br />
    </fieldset>
  </form>

</div>