extends layout

block content
  .flex-container
    // SUPPLIER FORM
    form(method='POST', action='/suppliers')
      input(type='hidden', name='_id')
      fieldset
        legend Supplier
        input#user(type='hidden', name='user', value='SUPPLIER', required='')
        br
        label Name:
        br
        input#name(type='text', name='name', required='')
        br
        label Country:
        br
        input#country(type='text', name='country', required='')
        br
        label City/Town:
        br
        input#city(type='text', name='city', required='')
        br
        label Street:
        br
        input#street(type='text', name='street', required='')
        br
        label Address:
        br
        input#address(type='text', name='address', required='')
        br
        label Telephone:
        br
        input#telephone(type='text', name='telephone', required='')
        br
        label Email:
        br
        input#email(type='email', name='email', required='')
        br
        label Website: 
        br
        input#website(type='url', name='website')
        br
        button.btn.btn-success.submit(type='submit') Save
        br
