body {
  /* Padding to prevent the content to go underneath the header */
  padding-top: 75px;
  font-family: Courier;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
}

span {
  color: black;
  font-size: 18pt;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

form {
  flex: 20%;
  text-align: center;
}

/* Responsive layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

legend,
label,
h6 {
  color: orange;
  margin-bottom: 0;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="url"],
select {
  width: 290px;
  padding: 0.75%;
  margin-bottom: 5px;
  font-size: 12pt;
  border: 1px solid grey;
}

.submit {
  width: 290px;
  border: none;
}